body {
  background-color: #ffe8a3;
}

nav {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 10px;
}
nav ul li {
  display: inline;
}

.source-link {
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #0f4a89;
  padding: 5px 12px;
  width: 100px;
  margin: 0, auto;
}

nav ul li a {
  color: #ffffff;
  border: 3px solid #000000;
  background-color: #0f4a89;
  text-align: center;
  text-decoration: none;
  padding: 5px 12px;
}

h1 {
  background-color: #991313;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  padding: 16px;
  margin: 5px;
}

h2,
h3 {
  background-color: #991313;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  padding: 5px;
  margin: 50px;
}

p {
  font-size: 20px;
  line-height: 1.5;
  width: 700px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #000000;
  /* background-color: #f6cfaab5; */
  background-color: #f1c36a;
  box-sizing: border-box;
  border: 2px solid;
}

.highlight:hover {
  background-color: orange;
  color: white;
}

img {
  border: #000000 solid 5px;
  border-radius: 10%;
  display: inline;
}
