body {
  background-color: #ffe1c5;
}

nav {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 10px;
  background-color: #991313;
}
nav ul li {
  display: inline;
}

nav ul li a {
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}

h1,
h2,
h3 {
  background-color: #991313;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
}

.info-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.info-container img {
  border: 2px solid #000000;
  /* margin-left: 10px; */
  display: block;
  /* float: left; */
}

.info-container p {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #000000;
  background-color: #d7ad85b5;
  box-sizing: border-box;
  display: inline;
  width: 200px;
}

/* p {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #000000;
  background-color: #d7ad85b5;
  box-sizing: border-box;
} */
img {
  border: #000000 solid 5px;
  border-radius: 10%;
  display: inline;
}
